*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header{
  background-color: rgb(122, 122, 255);
  color: #fff;
  height: 100px;
  padding: 25px;
}

.body{
  height: 100vh;
  text-align: center;
  padding-top: 150px;
}

.body a{
  color: black;
  font-weight: 500;
  font-size: 100px;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
}

.footer{
  background-color: blueviolet;
  height: 150px;
  padding: 50px;

}

.footer h2{
  text-align: center;
  
}